body {
  padding-top: 60px;
  padding-bottom: 100px;
  padding-right: 0px !important;
}

.editor {
  &#code {
    height: 60vh;
    min-height: 500px;
  }

  &#params {
    min-height: 50px;
  }

  &#result {
    min-height: 200px;
  }
}

.navbar .btn-group {
  padding-top: 3px;
}

.navbar .form-inline {
  margin-bottom: 0px;
}

.title {
  margin-top: 10px;
}

.fa-spinner {
  animation: spin 2s linear infinite;

  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
}

/*body {
  padding: 0px;
  margin: 0px;
  font-family: 'Monaco';
}

.editor-container {
  position: relative;

  .title {
    color: white;
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 1;
    font-size: 12px;
    opacity: 0.5;

    h4 {
      margin: 0px;
    }
  }
}

#code {
  height: 50%;
}

#params {
  height: 20%;
}

#result {
  height: 30%;
}

.loader {
  width: 30px;
}

#run {
  color: #ecf0f1;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  background-color: #2ecc71;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  width: 70px;
  height: 20px;
  padding: 10px;

  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -15px;
  }
}

//NEW
.navbar {
  .form-inline {
    margin: 0px;

    .btn-group .btn {
      padding-top: 10px;
      padding-bottom: 10px;
      color: white;
    }
  }
} */
